{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>容器安全示例</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'frontend/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    
    <!-- Custom Fonts -->
    <link href="{% static 'frontend/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" /> 

    <link href="{% static 'frontend/css/site.css' %}" rel="stylesheet" type="text/css" />

    {% block css %}
    {% endblock %}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">容器安全示例</a>
            </div>
            <!-- /.navbar-header -->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
                    <li><a href="#">首页</a></li>
				</ul>
			</div>	
        </nav>

        <div id="page-wrapper" class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'frontend/scripts/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'frontend/bootstrap/js/bootstrap.min.js' %}"></script>

    {% block js %}
    {% endblock %}

</body>

</html>
